/* << ------------------ Reading View ------------------ >> */
	.markdown-preview-view h1 {
		font-size: 27px !important;
		color: #DFBFFF;
	}

/* << ------------ Source View / Live Preview ------------ >> */
	.cm-s-obsidian .cm-header.cm-header-1 {
		font-size: 27px !important;
		color: #DFBFFF;
	}
	/* << ------------------ Reading View ------------------ >> */
	.markdown-preview-view h2 {
		font-size: 26px !important;
		color: #73D0FF;
	}

/* << ------------ Source View / Live Preview ------------ >> */
	.cm-s-obsidian .cm-header.cm-header-2 {
		font-size: 26px !important;
		color: #73D0FF;
	}
	/* << ------------------ Reading View ------------------ >> */
	.markdown-preview-view h3 {
		font-size: 25px !important;
	}

/* << ------------ Source View / Live Preview ------------ >> */
	.cm-s-obsidian .cm-header.cm-header-3 {
		font-size: 25px !important;
	}
	/* << ------------------ Reading View ------------------ >> */
	.markdown-preview-view h4 {
		font-size: 24px !important;
	}

/* << ------------ Source View / Live Preview ------------ >> */
	.cm-s-obsidian .cm-header.cm-header-4 {
		font-size: 24px !important;
	}
	/* << ------------------ Reading View ------------------ >> */
	.markdown-preview-view h5 {
		font-size: 23px !important;
	}

/* << ------------ Source View / Live Preview ------------ >> */
	.cm-s-obsidian .cm-header.cm-header-5 {
		font-size: 23px !important;
	}
	/* << ------------------ Reading View ------------------ >> */
	.markdown-preview-view h6 {
		font-size: 22px !important;
		color: #DFBFFF;
	}

/* << ------------ Source View / Live Preview ------------ >> */
	.cm-s-obsidian .cm-header.cm-header-6 {
		font-size: 22px !important;
		color: #DFBFFF;
	}

.inline-title {
    color: #73D0FF;
}
	
.theme-light {
  --bold-color: #6C71C4;
}	

.theme-dark {
  --bold-color: #DF75FF;
}

.status-bar {
    display: flex;
    background-color: transparent;
    position: fixed;
    color: #b28ecc;
    border: 0px solid #333;
    pointer-events: none;
}

